.line {
    text-decoration: line-through;
    list-style-position: inside;
}

.completed-task {
    border: 2px solid rgba(149,149,149,255);
    padding: 20px;
    height: 90%;
    width: 50%;
    overflow-y: auto;
    border-radius: 5px;
}

.completed-task ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}