.tasks{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    width: 95%;
    height: 63%;
    gap: 20px;
    display: flex;
    flex-direction: row;
}

.task-list{
    border: 2px solid rgba(149,149,149,255);
    padding: 20px;
    height: 90%;
    width: 50%;
    overflow-y: auto;
    border-radius: 5px;
}

.task-list-item {
    display: flex;
    align-items: center;
}

.task-list-items {
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    margin: 10px;
}

.task-list-buttons{
    display: flex;
    gap: 5px;
}
